
.slider-handle { 
  position: absolute;
  transform: translate(-50%, -50%);
}

.slider-handle.filled {
  z-index: 300;
  background-color: #BA3F6A;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.slider-handle.hover {
  z-index: 400;
  cursor: pointer;
  height: 42px;
  width: 26px;
}