.slider {
  width: 100%;
  display: flex;
  align-items: center;
}

.slider .slider-tracks .track {
  position: absolute;
  transform: translate(0, -50%);
  height: 14px;
  z-index: 1;
  border-radius: 7px;
  cursor: pointer;
  background: rgb(143, 50, 82);
}
