.slider-rail {
  position: absolute;
  width: 100%;
  transform: (0, -50%);
  height: 14px;
  cursor: pointer;
  border-radius: 7px;
  top: -7px;
}

.slider-rail.all {
  z-index: 300;
}

.slider-rail.all.disabled {
  pointer-events: none;
}

.slider-rail.filled {
  pointer-events: none;
  background-color: rgb(165, 121, 145);
}

.slider-rail.filled.disabled {
  background-color: grey;
}
