.tooltip {
  font-family: 'Open Gurbani Akhar Bold';
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  margin-top: -25px;
  margin-left: -25px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
