.home {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.home section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.home .introduction {
  align-items: center;
  justify-content: center;
  background-color: #2D2026;
  background-position: right;
  position: fixed;
  color: #ffffff;
}

.home .introduction .logo {
  width: 32.444%;
}

.home .introduction h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.home .introduction .links {
  display: flex;
  flex-wrap: wrap;
  width: 83.333%;
  font-family: 'Open Sans', sans-serif;
}

.home .introduction .links .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 0.755em;
  flex: 1 0 35%;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  transition: 0.125s background-color ease-in-out;
}

.home .introduction .links .button, .home .sources .source {
  padding: .570em .755em;
  margin: .570em;
  border-radius: 0.43em;
}

.home .introduction .links .button:hover {
  background-color: #693E4B;
  border-bottom-color: rgba(0, 0, 0, 1.0);
}

.home .sources {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 8.333%;
  min-height: 100vh;
  margin-left: 50%;
  box-sizing: border-box;
}

.home .sources .source {
  font-family: 'Open Gurbani Akhar Bold';
  font-size: 1em;
  width: auto;
  text-decoration: none;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 0.125s all ease-in-out;
}

.home .sources .source:hover {
  background: #DCCDA2;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  color: black;
}

@media screen and (max-width: 1100px) {
  .home .introduction, .home .sources {
    width: 100%
  }

  .home .introduction {
    width: 100%;
    position: static;
    min-height: 50vh;
  }

  .home .sources {
    margin: 0;
    min-height: auto;
  }
}

