.translation-block:first-child {
  border-top: 1px solid #C4C4C4;
}

.translation-block {
  border-bottom: 1px solid #C4C4C4;
  font-size: 1em;
  font-family: 'Baloo Paaji 2';
  font-weight: 400;
  line-height: 2;
  word-spacing: .05em;
  letter-spacing: .05em;
}

.translation-block .source-name {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 1em 0;
}

.translation-block .source-name:hover {
  background: #dccda280;
}

.translation-block .blocks {
  display: none;
}

.translation-block .expanded.blocks {
  display: flex;
  justify-content: space-between;
}

.translation-block .blocks .block {
  width: 47%;
}
