.translation-block:first-child {
  border-top: 1px solid #C4C4C4;
}

.translation-block {
  border-bottom: 1px solid #C4C4C4;
}

.translation-block .source-name {
  font-size: 1em;
  font-family: 'Noto Sans';
  cursor: pointer;
  user-select: none;
}

.translation-block .blocks {
  display: none;
}

.translation-block .expanded.blocks {
  display: flex;
  justify-content: space-between;
}

.translation-block .blocks .block {
  width: 47%;
}

.translation-block .punjabi.translation {
  font-family: 'Noto Sans Gurmukhi';
  font-size: 1.25em;
}
