body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: rgb(94.2% 93.11% 90.97%);
  color: rgb(8.33% 7.46% 5.52%);
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
}

p {
  margin: 0;
}

* + p {
  margin-top: 1rem;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (pointer: coarse) {
  body {
    font-size: 20px;
  }
  *,
  *:hover,
  *:active,
  *:focus,
  *:active:focus {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(20.2% 18.51% 19.08%);
    color: rgb(79.55% 77.27% 77.12%);
  }
  ::selection {
    background: rgba(255, 222, 139, 0.4);
  }
}
