body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #f0ede9;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
}

p {
  margin: 0;
}

* + p {
  margin-top: 1rem;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
