name: Release Latest

on:
  workflow_dispatch:

concurrency: release

jobs:
  release:
    uses: shabados/actions/.github/workflows/release.yml@main
    secrets:
      GH_BOT_TOKEN: ${{ secrets.GH_BOT_TOKEN }}
